BACKEND_IMAGE={{ todoops_backend_image }}
FRONTEND_IMAGE={{ todoops_frontend_image }}

POSTGRES_DB={{ todoops_postgres_db }}
POSTGRES_USER={{ todoops_postgres_user }}
POSTGRES_PASSWORD={{ todoops_postgres_password }}
